{%extends 'base.html'%}
{%block content%}
<div class="about">
    <h1><b>AJIRA</b></h1>
    <br>
    <h2>What we are all about</h2>
    <br>
    <p>Our Website started in 2019 to curb the problem of unemployement</p>
    <p>In Ajira we are about offering employees and employers an easy way of finding labour and jobs respectively<br> in an easy and convinient way</p>

</div>
<style>
    .about{
        height: 100vh;
        text-align: center;
        color: white;
        padding-top: 100px;
        background-color: black;
    }
    

    h1{
        font-size: 50px;
        color:whitesmoke ;
    }
    h2{
        color: yellow;
    }
</style>
{%endblock%}