{%extends 'base.html'%}
{%block content%}
<div class="serve">
    <h1><b>AJIRA</b></h1>
    <br>
    <h2>What We Offer</h2>
    <br>
    <p>We offer the companies the previllage to annoucne their job vacancies in a convinient and cheaper way<br>
    We also offer the user an easier way of applying for job vacancies so as to avoid alot of tarmaking which at times may be done in vain</p>
</div>
<style>
    .serve{
        height: 100vh;
        text-align: center;
        color: white;
        padding-top: 100px;
        background-color: black;
    }
    

    h1{
        font-size: 50px;
        color:whitesmoke ;
    }
    h2{
        color: yellow;
    }
</style>
{%endblock%}
